.details {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabActions {
  list-style: none;
  padding: 0;
  margin: 1rem 0 2rem;
  display: flex;
}

.tabActions li + li {
  margin-left: 0.75rem;
}

.tabContent {
  flex: 1;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.tabContent > div {
  overflow: auto;
  padding-bottom: 2rem;
  height: 100%;
}

.tabContent :global(.error) {
  color: #d73a49;
}

.tabContent :global(.warn) {
  color: orange;
}

.tabContent pre {
  margin: 0;
}
